<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mperezcastell.impatientclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelloActivity"
            android:label="@string/hello_world" >
        </activity>
        <activity
            android:name=".PatientAppointmentActivity"
            android:label="@string/patientAppointment" >
        </activity>

        <service
            android:name=".services.cloudRequest"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
